<aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard.html"
                       aria-expanded="false">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <span class="hide-menu">Ana Sayfa</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Category/Index/"
                       aria-expanded="false">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span class="hide-menu">Kategoriler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Employee/Index"
                       aria-expanded="false">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="hide-menu">Personel</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Customer/Index"
                       aria-expanded="false">
                        <i class="fa fa-handshake" aria-hidden="true"></i>
                        <span class="hide-menu">Müşteriler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Product/Index/"
                       aria-expanded="false">
                        <i class="fa fa-ruble-sign" aria-hidden="true"></i>
                        <span class="hide-menu">Ürünler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Process/Index/"
                       aria-expanded="false">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span class="hide-menu">İşlemler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Transportation/Index/"
                       aria-expanded="false">
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <span class="hide-menu">Taşıma</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                       aria-expanded="false">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        <span class="hide-menu">Ayarlar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Statistic/Index/"
                       aria-expanded="false">
                        <i class="fa fa-sad-tear" aria-hidden="true"></i>
                        <span class="hide-menu">İstatistikler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                       aria-expanded="false">
                        <i class="fa fa-columns" aria-hidden="true"></i>
                        <span class="hide-menu">Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

