@model AkademiPlus_Transportation.Models.TblProcess

@{
    ViewBag.Title = "AddProcess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni İşlem Ekleme Sayfası</h2>

<form method="post">
    <label>Taşıma</label>
    @Html.DropDownListFor(x => x.Transportation, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">İşlem Ekle</button>
</form>