@model List<AkademiPlus_Transportation.Models.TblProcess>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İşlem Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Taşıma</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProcessID</td>
            <td>@item.Transportation</td>
            <td>@item.Description</td>
            <td><a href="/Process/DeleteProcess/@item.ProcessID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Process/UpdateProcess/@item.ProcessID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Process/AddProcess/" class="btn btn-primary">Yeni İşlem Kaydı</a>
