@model AkademiPlus_Transportation.Models.TblProcess
@{
    ViewBag.Title = "UpdateProcess";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<h2>İşlem Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.ProcessID)
    <label>Taşıma:</label>
    <label>Müşteri</label>
    @Html.DropDownListFor(x => x.Transportation, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
    <br />
    <br />
    <label>Açıklama:</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Personeli Güncelle</button>
</form>

