
<section class="w3l-clients py-5" id="testimonials">
    <div class="container pt-md-5 pt-4">
        <div class="w3-testimonial-grids align-items-center py-lg-5">
            <div class="w3-testimonial-content-top">
                <div class="mb-4">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>
                                        <i class="fas fa-quote-left me-2"></i>
                                        Akşama kadar beklemek zorunda kalmadan kargomu hızlıca alabildim. 08.30'da bana mesaj geldi ve hemen 
                                        adresime teslimi yapıldı.
                                        Daha önceden de şubeden alım yönetemini kullanmıştım ve mesaj kargom şubeye gelir gelmez bana ulaşmıştı. 
                                        Gerçekten çok başarılı bir kargo şirketi.
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="https://media.licdn.com/dms/image/C4D03AQENLehGPoXwKA/profile-displayphoto-shrink_400_400/0/1654861982409?e=1683158400&v=beta&t=f6xwv026T0ZAxGcT9tP-6WapGRD_bL3mkMvYwFHmly8" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Ali Doğan</h3>
                                        <p class="indentity">Öğretmen</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>